
.container{
  margin-top: 100px
}

.navbar{
  position: fixed;
  width: 100%;
  background: black;
  top: 0;
  left: 0;
}
.container{
  width: 100%;
  /*background: yellow;*/
}
.resultImage{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.clicked{
  border-style: inset;
  border: 6px solid red;
}
.resultImages{
  height: 900px;
  overflow: scroll;
}
.imgBox{
  width: 100%;
}
.pathBox img{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.winBox{
  margin-top: 5%;
}
.pathBox{
  margin-top: 5%;
}
.title{
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
  font-family: 'Bungee Inline', cursive;
}
